bind_host: {{ adguardhome_webhost }}
bind_port: {{ adguardhome_webport }}
beta_bind_port: 0
users:{% if adguardhome_users|length <= 0 %}
 []
{% else %}

{% for adguardhome_user in adguardhome_users %}
  - name: {{ adguardhome_user.username }}
    password: {% if adguardhome_user.hashed_password is defined %}
{{ adguardhome_user.hashed_password }}
{% else %}
{{ adguardhome_user.password | password_hash('bcrypt') }}
{% endif %}
{% endfor %}
{% endif %}
auth_attempts: {{ adguardhome_auth_attempts }}
block_auth_min: {{ adguardhome_block_auth_min }}
http_proxy: {{ adguardhome_http_proxy }}
language: {{ adguardhome_language }}
debug_pprof: {{ adguardhome_debug_pprof }}
web_session_ttl: {{ adguardhome_web_session_ttl }}
dns:
  bind_hosts:{% if adguardhome_dnshosts|length <= 0 %}
 []
{% else %}

{% for adguardhome_dnshost in adguardhome_dnshosts %}
    - {{ adguardhome_dnshost }}
{% endfor %}
{% endif %}
  port: {{ adguardhome_dnsport }}
  statistics_interval: {{ adguardhome_statistics_interval }}
  querylog_enabled: {{ adguardhome_querylog_enabled }}
  querylog_file_enabled: {{ adguardhome_querylog_file_enabled }}
  querylog_interval: {{ adguardhome_querylog_interval }}
  querylog_size_memory: {{ adguardhome_querylog_size_memory }}
  anonymize_client_ip: {{ adguardhome_anonymize_client_ip }}
  protection_enabled: {{ adguardhome_protection_enabled }}
  blocking_mode: {{ adguardhome_blocking_mode }}
  blocking_ipv4: {{ adguardhome_blockingipv4 }}
  blocking_ipv6: {{ adguardhome_blockingpiv6 }}
  blocked_response_ttl: {{ adguardhome_blocked_response_ttl }}
  parental_block_host: {{ adguardhome_parental_block_host }}
  safebrowsing_block_host: {{ adguardhome_safebrowsing_block_host }}
  ratelimit: {{ adguardhome_ratelimit }}
  ratelimit_whitelist:{% if adguardhome_ratelimit_whitelist|length <= 0 %}
 []
{% else %}

{% for address in ratelimit_whitelist %}
    - {{ address }}
{% endfor %}
{% endif %}
  refuse_any: {{ adguardhome_refuse_any }}
  upstream_dns:{% if adguardhome_upstream_dns|length <= 0 %}
 []
{% else %}

{% for address in adguardhome_upstream_dns %}
    - {{ address }}
{% endfor %}
{% endif %}
  upstream_dns_file: {{ adguardhome_upstream_dns_file }}
  bootstrap_dns:{% if adguardhome_bootstrap_dns|length <= 0 %}
 []
{% else %}

{% for address in adguardhome_bootstrap_dns %}
    - {{ address }}
{% endfor %}
{% endif %}
  all_servers: {{ adguardhome_all_servers }}
  fastest_addr: {{ adguardhome_fastest_addr }}
  fastest_timeout: {{ adguardhome_fastest_timeout }}
  allowed_clients:{% if adguardhome_allowed_clients|length <= 0 %}
 []
{% else %}

{% for address in adguardhome_allowed_clients %}
    - {{ address }}
{% endfor %}
{% endif %}
  disallowed_clients:{% if adguardhome_disallowed_clients|length <= 0 %}
 []
{% else %}

{% for address in adguardhome_disallowed_clients %}
    - {{ address }}
{% endfor %}
{% endif %}
  blocked_hosts:{% if adguardhome_blocked_hosts|length <= 0 %}
 []
{% else %}

{% for address in adguardhome_blocked_hosts %}
    - {{ address }}
{% endfor %}
{% endif %}
  trusted_proxies:{% if adguardhome_trusted_proxies|length <= 0 %}
 []
{% else %}

{% for address in adguardhome_trusted_proxies %}
    - {{ address }}
{% endfor %}
{% endif %}
  cache_size: {{ adguardhome_cache_size}}
  cache_ttl_min: {{ adguardhome_cache_ttl_min}}
  cache_ttl_max: {{ adguardhome_cache_ttl_max}}
  cache_optimistic: {{ adguardhome_cache_optimistic }}
  bogus_nxdomain:{% if adguardhome_bogus_nxdomain|length <= 0 %}
 []
{% else %}

{% for address in adguardhome_bogus_nxdomain %}
    - {{ address }}
{% endfor %}
{% endif %}
  aaaa_disabled: {{ adguardhome_aaaa_disabled}}
  enable_dnssec: {{ adguardhome_enable_dnssec }}
  edns_client_subnet: {{ adguardhome_edns_client_subnet }}
  max_goroutines: {{ adguardhome_max_goroutines }}
  handle_ddr: {{ adguardhome_handle_ddr }}
  ipset:{% if adguardhome_ipset|length <= 0 %}
 []
{% else %}

{% for address in adguardhome_ipset %}
    - {{ address }}
{% endfor %}
{% endif %}
  ipset_file: {{ adguardhome_ipset_file }}
  filtering_enabled: {{ adguardhome_filtering_enabled }}
  filters_update_interval: {{ adguardhome_filters_update_interval }}
  parental_enabled: {{ adguardhome_parental_enabled }}
  safesearch_enabled: {{ adguardhome_safesearch_enabled }}
  safebrowsing_enabled: {{ adguardhome_safebrowsing_enabled }}
  safebrowsing_cache_size: {{ adguardhome_safebrowsing_cache_size }}
  safesearch_cache_size: {{ adguardhome_safeseach_cache_size }}
  parental_cache_size: {{ adguardhome_parental_cache_size }}
  cache_time: {{ adguardhome_cache_time }}
  rewrites:{% if adguardhome_rewrites|length <= 0 %}
 []
{% else %}

{% for rewrite in adguardhome_rewrites %}
    - domain: {{ rewrite.domain }}
      answer: {{ rewrite.answer }}
{% endfor %}
{% endif %}
  blocked_services:{% if adguardhome_blocked_services|length <= 0 %}
 []
{% else %}

{% for service in adguardhome_blocked_services %}
    - {{ service }}
{% endfor %}
{% endif %}
  upstream_timeout: {{ adguardhome_upstream_timeout }}
  private_networks:{% if adguardhome_private_networks|length <= 0 %}
 []
{% else %}

{% for address in adguardhome_private_networks %}
    - {{ address }}
{% endfor %}
{% endif %}
  use_private_ptr_resolvers: {{ adguardhome_use_private_ptr_resolvers }}
  local_ptr_upstreams:{% if adguardhome_local_ptr_upstreams|length <= 0 %}
 []
{% else %}

{% for address in adguardhome_local_ptr_upstreams %}
    - {{ address }}
{% endfor %}
{% endif %}
  serve_http3: {{ adguardhome_serve_http3 }}
  use_http3_upstreams: {{ adguardhome_use_http3_upstreams }}
tls:
  enabled: {{ adguardhome_tls_enabled }}
  server_name: {{ adguardhome_tls_server_name }}
  force_https: {{ adguardhome_tls_force_https }}
  port_https: {{ adguardhome_tls_port_https }}
  port_dns_over_tls: {{ adguardhome_tls_port_dns_over_tls }}
  port_dns_over_quic: {{ adguardhome_tls_port_dns_over_quic }}
  port_dnscrypt: {{ adguardhome_tls_port_dnscrypt }}
  dnscrypt_config_file: {{ adguardhome_tls_dnscrypt_config_file }}
  allow_unencrypted_doh: {{ adguardhome_tls_allow_enencrypted_doh }}
  strict_sni_check: {{ adguardhome_tls_sctrict_sni_check }}
  certificate_chain: {{ adguardhome_tls_certificate_chain }}
  private_key: {{ adguardhome_tls_private_key }}
  certificate_path: {{ adguardhome_tls_certificate_path }}
  private_key_path: {{ adguardhome_tls_private_key_path }}
filters:{% if adguardhome_filters|length <= 0 %}
 []
{% else %}

{% for adguardhome_filter in adguardhome_filters %}
  - enabled: {{ adguardhome_filter.enabled }}
    url: {{ adguardhome_filter.url }}
    name: {{ adguardhome_filter.name }}
    id: {{ loop.index }}
{% endfor %}
{% endif %}
whitelist_filters:{% if adguardhome_whitelist_filters|length <= 0 %}
 []
{% else %}

{% for adguardhome_whitelist_filter in adguardhome_whitelist_filters %}
  - enabled: {{ adguardhome_whitelist_filter.enabled }}
    url: {{ adguardhome_whitelist_filter.url }}
    name: {{ adguardhome_whitelist_filter.name }}
    id: {{ loop.index }}
{% endfor %}
{% endif %}
user_rules:{% if adguardhome_user_rules|length <= 0 %}
 []
{% else %}

{% for address in adguardhome_user_rules %}
  - '{{ address }}'
{% endfor %}
{% endif %}
dhcp:
  enabled: {{ adguardhome_dhcp_enabled}}
  interface_name: {{ adguardhome_dhcp_interface_name }}
  local_domain_name: {{ adguardhome_local_domain_name }}
  dhcpv4:
    gateway_ip: {{ adguardhome_dhcp_gateway_ip }}
    subnet_mask: {{ adguardhome_dhcp_subnet_mask }}
    range_start: {{ adguardhome_dhcp_range_start }}
    range_end: {{ adguardhome_dhcp_range_end }}
    lease_duration: {{ adguardhome_dhcp_lease_duration }}
    icmp_timeout_msec: {{ adguardhome_dhcp_icmp_timeout_msec }}
    options:{% if adguardhome_dhcp_options|length <= 0 %}
 []
{% else %}

{% for option in adguardhome_dhcp_options %}
      - {{ option }}
{% endfor %}
{% endif %}
  dhcpv6:
    range_start: {{ adguardhome_dhcp6_range_start }}
    lease_duration: {{ adguardhome_dhcp6_lease_duration }}
    ra_slaac_only: {{ adguardhome_dhcp6_slaac_only }}
    ra_allow_slaac: {{ adguardhome_dhcp6_allow_slaac }}
clients:
  runtime_sources:
    whois: {{ adguardhome_runtime_sources_whois }}
    arp: {{ adguardhome_runtime_sources_arp }}
    rdns: {{ adguardhome_runtime_sources_rdns }}
    dhcp: {{ adguardhome_runtime_sources_dhcp }}
    hosts: {{ adguardhome_runtime_sources_hosts }}
  persistent:{% if adguardhome_clients|length <= 0 %}
 []
{% else %}

{% for client in adguardhome_clients %}
    - name: {{ client.name }}
      tags:{% if client.tags is not defined or client.tags|length <= 0 %}
 []
{% else %}

{% for tag in client.tags %}
        - {{ tag }}
{% endfor %}
{% endif %}
    ids:{% if client.ids is not defined or client.ids|length <= 0 %}
 []
{% else %}

{% for id in client.ids %}
      - {{ id }}
{% endfor %}
{% endif %}
    blocked_services:{% if client.blocked_services is not defined or client.blocked_services|length <= 0 %}
 []
{% else %}

{% for blocked_service in client.blocked_services %}
      - {{ blocked_service }}
{% endfor %}
{% endif %}
    upstreams:{% if client.upstreams is not defined or client.upstreams|length <= 0 %}
 []
{% else %}

{% for upstream in client.upstreams %}
      - {{ upstream }}
{% endfor %}
{% endif %}
    use_global_settings: {{ client.use_global_settings | default('true') }}
    filtering_enabled: {{ client.filtering_enabled | default('false') }}
    parental_enabled: {{ client.parental_enabled | default('false') }}
    safesearch_enabled: {{ client.safesearch_enabled | default('false') }}
    use_global_blocked_services: {{ client.use_global_blocked_services | default('true') }}
{% endfor %}
{% endif %}
log_file: {{ adguardhome_log_file }}
log_max_backups: {{ adguardhome_log_max_backups }}
log_max_size: {{ adguardhome_log_max_size }}
log_max_age: {{ adguardhome_log_max_age }}
log_compress: {{ adguardhome_log_compress }}
log_localtime: {{ adguardhome_log_localtime }}
verbose: {{ adguardhome_verbose }}
os:
  group: {{ adguardhome_os_group }}
  user: {{ adguardhome_os_user }}
  rlimit_nofile: {{ adguardhome_rlimit_nofile }}
schema_version: 14
