---
name: ci
'on':
  pull_request:
  push:
    branches:
      - main

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4

      - name: Install test dependencies.
        run: python -m pip install yamllint

      - name: Lint code.
        run: yamllint .

  molecule:
    name: Molecule Test (${{ matrix.platform.name }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: ubuntu2404
            image: docker.io/geerlingguy/docker-ubuntu2404-ansible:latest
          - name: ubuntu2204
            image: docker.io/geerlingguy/docker-ubuntu2204-ansible:latest
          - name: debian13
            image: docker.io/geerlingguy/docker-debian13-ansible:latest
          - name: debian12
            image: docker.io/geerlingguy/docker-debian12-ansible:latest
          - name: debian11
            image: docker.io/geerlingguy/docker-debian11-ansible:latest
          - name: fedora43
            image: docker.io/geerlingguy/docker-fedora43-ansible:latest
          - name: fedora42
            image: docker.io/geerlingguy/docker-fedora42-ansible:latest
          - name: centosstream10
            image: ghcr.io/bcook254/docker-centosstream10-ansible:latest
          - name: centosstream9
            image: ghcr.io/bcook254/docker-centosstream9-ansible:latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v4

      - name: Install test dependencies.
        run: python -m pip install molecule molecule-plugins[docker]

      - name: Run Molecule tests.
        run: molecule test --driver-name docker
        env:
          PLATFORM_NAME: ${{ matrix.platform.name }}
          PLATFORM_IMAGE: ${{ matrix.platform.image }}
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'

  check:
    name: Molecule Tests
    if: ${{ !cancelled() }}
    runs-on: ubuntu-latest
    needs: [molecule]
    steps:
      - name: Exit on failure
        if: ${{ needs.molecule.result == 'failure' }}
        shell: bash
        run: exit 1
      - name: Exit
        shell: bash
        run: exit 0